<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.mapper.UserBaseInfoMapper">

    <select id="queryUserBaseInfo" resultType="com.example.domain.UserBaseInfo">
         select * from user_base_info where user_id=4662
    </select>

    <select id="queryWeChatInfo"  parameterType="java.lang.String" resultType="com.example.domain.UserWeChatInfo">
        select * from user_weixin_auth_info where channel_user_id=#{channel_user_id}
    </select>

    <select id="queryAliPayInfo"  parameterType="java.lang.String" resultType="com.example.domain.UserAliPayInfo">
        select * from user_alipay_auth_info where channel_user_id=#{channel_user_id}
    </select>

    <select id="queryUserAddressInfo"  parameterType="java.lang.String" resultType="com.example.domain.UserAddressInfo">
        select * from user_receive_address where channel_user_id=#{channel_user_id}
    </select>


</mapper>